*{
  font-family: 'Roboto Mono', monospace;
}

.Notes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Note {
  color: lightgrey;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 20px 2%;
  min-width: 45%;
  min-height: 80px;
  text-align: center;
  position: relative;
  box-shadow: 0px 10px 0px darkgrey;
  display: flex;
  justify-content: center;
}

p{
  color: grey;
  padding: 0 10%;
  word-break: break-all;
}

button{
  color: whitesmoke;
  background-color: darkgrey;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-style: none;
  border-bottom: 5px solid grey;
  border-radius: 10px;
  padding: 5px;
}

button:active{
  border-bottom: 3px solid grey;
}

@media only screen and (max-width: 800px){
  .Notes{
    flex-direction: column;
  }
  .Note{
    min-height: 100px;
    width: 80%;
    margin: 20px auto;
  }
}