*{
  font-family: 'Roboto Mono', monospace;
}

body{
  background-color: whitesmoke;
}

.NoteForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  text-transform: uppercase;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
  transition: width 0.5s;
}

label{
  color: grey;
  text-align: center;
  margin: 5px 0;
}

input[type=submit]{
  color: whitesmoke;
  background-color: darkgrey;
  border-style: none;
  padding: 5px;
  margin: 5px 0;
  transition: color 0.1s;
}

input[type=submit]:active{
  color: black;
  background-color: grey;
}

@media only screen and (max-width: 850px){
  form{
    width: 60%;
  }
}